.new__msg {
	position: fixed!important;
	bottom: 0;
	max-width: 100%;
	width: 100%;
	padding: 10px;
	background-color: #333333;
	color: #ffffff;
	display: flex;
	justify-content: center;
}



.new__msg .form-group {
	margin-right: 10px;
	flex-grow: 1;
	margin-bottom: 0px;
}

.new__msg .form-group input {
	height: 40px;
}

.new__msg button {
	height: 40px;
}

.chat__section {
	margin-bottom: 70px;
}

.new__msg__container {
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-direction: row-reverse;
}