.new__msg {
	position: fixed!important;
	bottom: 0;
	max-width: 100%;
	width: 100%;
	padding: 10px;
	background-color: #333333;
	color: #ffffff;
	display: flex;
	justify-content: center;
}


.chat__section {
	margin-bottom: 70px;
}