.chat-container {
	min-height: 100vh;
	background: linear-gradient(to bottom, #398235, #299a0b);
}

.new__msg {
	position: fixed!important;
	bottom: 0;
	max-width: 100%;
	width: 100%;
	padding: 10px;
	background-color: #333333;
	color: #ffffff;
	display: flex;
	justify-content: center;
}


.chat__section {
	margin-bottom: 80px;
}

.chat-with-text {
	font-size: 12px;
	color: #ffffff;
}

.chat-with-opp {
	color: #111111;
}